@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Be Vietname Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/BeVietnamPro-Regular.ttf')
}

@font-face {
    font-family: 'Be Vietname Pro';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/BeVietnamPro-Medium.ttf')
}

@font-face {
    font-family: 'Be Vietname Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/BeVietnamPro-Bold.ttf')
}